<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bsn.GoldParser" version="2.0.77" targetFramework="net35-client" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net35-client" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net35-client" />
</packages>